@charset "UTF-8";

body {
	padding: 0 0 0 0;
	margin: 0;
	font: 12px/1.8 Helvetica, Arial;
	color: #444;
	background-color: #f3f3f3;
	text-align: center;
}

.loginFormBox{
	padding: 7px 7px 8px;
}

.loginFormBox  label{
	display: block;
}

.loginButton input{
	border: none;
}
